<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>IBN</th>
      <th>Title</th>
      <th>Authors</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.ibn }}</td>
      <td>{{ book.title }}</td>
      <td>
        <table table table-striped>
          <thead></thead>
          <tbody>
            <tr *ngFor="let author of book.authors">
              <td>{{ author.fullName }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="openRemoveAuthorModal(book, author)"
                >
                  Remove author from book
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-warning"
          (click)="openEditModal(book)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="openDeleteModal(book)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="openCreateModal()">
  Add new book
</button>
